<h1>Charges with summary from Stripe</h1>
<a href="./json">Get this in raw json.</a>
<div>
    <h2>JSON response:</h2>
    <pre>{{json}}</pre>
</div>
<style>.part3 { background-color: #CCCCCC }</style>
